[submodule "LeadEngine/vendor/spdlog"]
	path = LeadEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LeadEngine/vendor/GLFW"]
	path = LeadEngine/vendor/GLFW
	url = https://github.com/skinzdb/glfw
